*{margin: 0;
padding: 0}

body{
	width: 100%;
	font-size: 17px;
	background-color: #ffffff;
}

a{
	text-decoration: none;
}

header{
	width: 100%;
	background-color: #000000;
	height: 60px;
}

header #nav{
	width: 1200px;
	margin: 0px auto;
	display: block;
	height: 60px;
}

header #nav .navl{
	float: left;
}

header #nav .navl a{
	display: block;
	height: 60px;
	float: left;
	line-height: 60px;
	color: #dddddd;
	font-weight: bold;
}

header #nav .navl nav{
	float: left;
}

header #nav .navl nav li{
	float: left;
	display: block;
	height: 60px;
	padding-left: 50px;
}

header #nav .navr{
	float: right;
	line-height: 60px;
}

header #nav .navr form input{
	display: inline-block;
	height: 30px;
	border-radius: 5px 5px;
	border: none;
}

#img #picSlider{
	width: 100%;
	height: 300px;
}

#img #picShow{
	position: relative;
	left: 640px;
	width: 60px;
	height: 20px;
	top: -30px;
}

#img .circle{
	width: 16px;
	height: 16px;
	float: left;
	border-radius: 50%;
	border: 1px solid #000000;
	margin-right: 2px;
}

#img #sCircle{
		
}

.newData{
	width: 200px;
	height: 100px;
	background-color: #ae2141;
}

.hidden{
	overflow: hidden;
}

#contentA{
	width: 1200px;
	margin: 0px auto;
	height: 200px;
}

.contentA .content{
	margin: 0px auto;
	width: 400px;
	float: left;
	height: 200px;
}

.contentA .contentL{
	background-color: #e12341;
}

.contentA .contentM{
	background-color: #e12ab1;
}

.contentA .contentR{
	background-color: #f22341;
}